source https://www.nuget.org/api/v2
framework >= net45
nuget FAKE
nuget Akka 1.2
nuget Akka.TestKit 1.2
nuget Akka.TestKit.NUnit
nuget FSharp.Core
nuget JsonNet.PrivateSettersContractResolvers.Source 0.1.0
nuget NUnit 2.6.4
nuget FakeItEasy
# CAUTION: NUNIT-3 works but only shows very few tests...
# nuget NUnit 3.6.0
nuget System.Collections.Immutable
nuget CommandLineParser
nuget CommonServiceLocator
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin.FileSystems
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Microsoft.Owin.SelfHost
nuget Microsoft.Owin.StaticFiles
# nuget Microsoft.AspNet.SignalR.JS
# nuget Microsoft.AspNet.SignalR.SelfHost
nuget Owin
nuget Unity
nuget Unity.WebAPI


nuget Microsoft.EntityFrameworkCore
nuget Microsoft.EntityFrameworkCore.Design
nuget Microsoft.EntityFrameworkCore.Tools
nuget Npgsql.EntityFrameworkCore.PostgreSQL
nuget Npgsql.EntityFrameworkCore.PostgreSQL.Design